<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.titanes.caid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera2" android:required="false"></uses-feature>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:authorities="edu.titanes.caid"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
        >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">

            </meta-data>


        </provider>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".refActivity"
            android:label="@string/title_activity_ref"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.CrearusuarioActivity"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".view.DetallecursoActivity" />
        <activity android:name=".view.CursoActivity" />
        <activity android:name=".view.HomeActivity" />
        <activity
            android:name=".view.FavoritosActivity"
            android:parentActivityName=".view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.HomeActivity" />
        </activity>
        <activity
            android:name=".view.MiscursosActivity"
            android:parentActivityName=".view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.HomeActivity" />
        </activity>
        <activity
            android:name=".view.PerfilActivity"
            android:parentActivityName=".view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.HomeActivity" />
        </activity>
        <activity
            android:name=".view.BuscarActivity"
            android:parentActivityName=".view.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.HomeActivity" />
        </activity>
        <activity android:name=".view.ContenedorActivity" />
        <activity android:name=".view.CamaraActivity"></activity>
    </application>

</manifest>